<!doctype html>
<html lang="en">
   <head>
      <meta charset="utf-8">
      <title>Beamer</title>
      <link rel="stylesheet" href="//code.jquery.com/ui/1.11.4/themes/smoothness/jquery-ui.css">
      <script src="//code.jquery.com/jquery-1.10.2.js"></script>
      <script src="//code.jquery.com/ui/1.11.4/jquery-ui.js"></script>
      <link rel="stylesheet" href="/css/common.css">
      <script src="/js/common.js"></script>
   </head>
   <body>
      <br />
      <div style="font-size:20px;"> Hello <%=name%>, welcome to beamflix! Please select your beamer contents.</div>
      <a href="/users/logout"> Log Out</a>
      <br />
      <br />
      <div class="ui-widget ui-helper-clearfix">
      
        <ul id="gallery" class="gallery ui-helper-reset ui-helper-clearfix">          
          <% showbeamer.each do |key, value| %>        
          <li class="ui-widget-content ui-corner-tr" value='<%=key%>'>
            <h5 class="ui-widget-header"><%=value%></h5>
            <img src="images/<%=key%>.png" alt="The peaks of High Tatras" width="96" height="72">
          </li>
          <% end %>
        </ul>        
       
        <div id="selection" class="ui-widget-content ui-state-default"> 
          <h4 class="ui-widget-header">My Beamer</h4>
          <ul class="gallery ui-helper-reset"> 
            <% userbeamer.each do |key, value| %>        
            <li class="ui-widget-content ui-corner-tr ui-beamer-user" value='<%=key%>'>
              <h5 class="ui-widget-header"><%=value%></h5>
              <img src="images/<%=key%>.png" alt="The peaks of High Tatras" width="96" height="72">
            </li>
            <% end %>
          </ul> 
        </div>
      </div>

      <div style="font-size:20px;"> What else are you interested in? <br />
      <textarea id="user-input" style="width:500px;height:60px;font-size:20px;"></textarea>
      </div>    
      <button type="submit" id="button-user-input" class="submit-button">Submit</button>
      </div> 
      <br />
      <br />
      <div style="font-size:20px;display:inline-block;"> User-defined Tags: <br />
        <p id='user-defined-tags'><% definebeamer.each do |value|%>  <%='#'+value%> &nbsp; <%end%> </p>
      </div>
   </body>
</html>
